**/Code/.org.chromium.Chromium.2PhXob
**/Code/.org.chromium.Chromium.6I7c5w
**/Code/.org.chromium.Chromium.LPa5h7
**/Code/Cache/
**/Code/CachedConfigurations/
**/Code/CachedData/
**/Code/CachedExtensionVSIXs/
**/Code/CachedProfilesData/
**/Code/Code Cache/
**/Code/Cookies
**/Code/Cookies-journal
**/Code/Crashpad/
**/Code/DawnCache/
**/Code/Dictionaries/
**/Code/GPUCache/
**/Code/Local Storage/
**/Code/Network Persistent State
**/Code/Preferences
**/Code/Service Worker/
**/Code/Session Storage/
**/Code/Shared Dictionary/
**/Code/SharedStorage
**/Code/TransportSecurity
**/Code/Trust Tokens
**/Code/Trust Tokens-journal
**/Code/User/History/
**/Code/User/globalStorage/
**/Code/User/workspaceStorage/
**/Code/WebStorage/
**/Code/databases/
**/Code/languagepacks.json
**/Code/logs/
**/Code/machineid
